.form-control label,
.form-control input,
.form-control textarea {
    display: block;
    width: 100%;
    margin-bottom: 0.25rem;
}
.form-control input:focus,
.form-control textarea:focus{
    outline-color: rgb(66, 66, 180);
} 
.product-form{
    width: 20rem;
    max-width: 90%;
    margin:auto;
}
.form-control{
    margin: 1rem 0;
}
.form-control input, .form-control textarea {
    border:1px solid rgb(54, 136, 102);
    font-family: inherit;
    border-radius: 2px;
}